@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-serif: var(--font-old-standard-tt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
}

::view-transition-new(root) {
  animation: slideUpReveal 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

::view-transition-old(root) {
  animation: slideUpExit 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

@keyframes slideUpReveal {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-15%);
    opacity: 0.6;
  }
}
