@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Type scale */
  --step--2: clamp(0.4167rem, 0.3515rem + 0.3258vw, 0.56rem);
  --step--1: clamp(0.5rem, 0.4091rem + 0.4545vw, 0.7rem);
  --step-0: clamp(0.6rem, 0.475rem + 0.625vw, 0.875rem);
  --step-1: clamp(0.9rem, 0.8rem + 0.5vw, 1.25rem);
  --step-2: clamp(1.08rem, 0.9421rem + 0.6893vw, 1.5625rem);
  --step-3: clamp(1.296rem, 1.1083rem + 0.9388vw, 1.9531rem);
  --step-4: clamp(0.64rem, 6.2346rem + -6.2162vw, 4.9913rem);
  --step-5: clamp(0.8rem, 7.4723rem + -7.4137vw, 5.9896rem);
  --step-6: clamp(1rem, 8.9554rem + -8.8393vw, 7.1875rem);

  /* Spacing Scale */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-serif: var(--font-neue-world);
}

@theme {
  /* break-points */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 375px;
  --breakpoint-md: 425px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 2560px;
}

@custom-variant landscape (@media (aspect-ratio > 1));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
}

::view-transition-new(root) {
  animation: slideUpReveal 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

::view-transition-old(root) {
  animation: slideUpExit 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-component="slide"] h3,
[data-component="nav-links"] a,
[data-component="hero-text"] h2,
[data-component="hero-text"] p {
  font-kerning: none;
}

.split-chars {
  display: inline-block; /* Essential for animation */
  position: relative; /* Helps with positioning */
}

@keyframes slideUpReveal {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-15%);
    opacity: 0.4;
  }
}
