@import "tailwindcss";

/* @link https://utopia.fyi/type/calculator?c=320,12,1.125,1240,16,1.25,3,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Typescale */
  --step--3: clamp(0.512rem, 0.5319rem + -0.0257vw, 0.5267rem);
  --step--2: clamp(0.5926rem, 0.5761rem + 0.0824vw, 0.64rem);
  --step--1: clamp(0.6667rem, 0.6203rem + 0.2319vw, 0.8rem);
  --step-0: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --step-1: clamp(0.8438rem, 0.7024rem + 0.7065vw, 1.25rem);
  --step-2: clamp(0.9492rem, 0.7359rem + 1.0666vw, 1.5625rem);
  --step-3: clamp(1.0679rem, 0.76rem + 1.5396vw, 1.9531rem);

  --space-page-layout: clamp(2.75rem, 6.2146rem + -17.3228vw, 5.5rem)
    clamp(0.5625rem, 1.2712rem + -3.5433vw, 1.125rem)
    clamp(0.5625rem, 1.2712rem + -3.5433vw, 1.125rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-serif: var(--font-neue-world);
}

@theme {
  /* break-points */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 375px;
  --breakpoint-md: 425px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 2560px;
}

@custom-variant landscape (@media (aspect-ratio > 1));

a:hover,
button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
}

::view-transition-new(root) {
  animation: slideUpReveal 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

::view-transition-old(root) {
  animation: slideUpExit 1.2s cubic-bezier(0.87, 0, 0.4, 1) forwards !important;
  mix-blend-mode: normal;
  display: block;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-component="slide"] h3,
[data-component="nav-links"] a,
[data-component="hero-text"] h2,
[data-component="hero-text"] p {
  font-kerning: none;
}

.split-chars {
  display: inline-block; /* Essential for animation */
  position: relative; /* Helps with positioning */
}

@keyframes slideUpReveal {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-15%);
    opacity: 0.4;
  }
}
